<div
    class="modal fade"
    id="emailModal{{ i.id }}"
    tabindex="-1"
    aria-hidden="true"
>
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Send Mail</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                ></button>
            </div>

            <form
                method="POST"
                action="{% url 'cdr_sendmail_data' %}"
                enctype="multipart/form-data"
                autocomplete="off"
            >
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row g-3">
                        <!-- CDR Date -->
                        <div class="col-md-6">
                            <label class="form-label">CDR Date</label>
                            <input
                                class="form-check-input me-2"
                                type="checkbox"
                                name="cdr_date_check"
                                id="cdrDateCheck{{ i.id }}"
                            />
                            <label
                                class="form-check-label"
                                for="cdrDateCheck{{ i.id }}"
                                >Enable</label
                            >
                            <input
                                type="date"
                                class="form-control mt-2"
                                name="date"
                                value="{{ i.date|date:'Y-m-d' }}"
                            />
                        </div>

                        <!-- Party Name -->
                        <div class="col-md-6">
                            <label class="form-label">Party Name</label>
                            <div class="form-check mt-2">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="cdr_party_name{{ i.id }}"
                                    name="cdr_party_name"
                                    value="{{ i.party_details.party_name }}"
                                />
                                <label
                                    class="form-check-label"
                                    for="cdr_party_name{{ i.id }}"
                                    >{{ i.party_details.party_name }}</label
                                >
                            </div>
                        </div>

                        <!-- Party Email -->
                        <div class="col-md-6">
                            <label class="form-label"
                                >Party Email Address</label
                            >
                            <input
                                type="email"
                                class="form-control"
                                name="cdr_party_address"
                                value="{{ i.party_email_used.email }}"
                                placeholder="Enter Email"
                            />
                        </div>

                        <!-- Job Name -->
                        <div class="col-md-6">
                            <label class="form-label">Job Name</label>
                            <div class="form-check mt-2">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="cdr_job_name{{ i.id }}"
                                    name="cdr_job_name"
                                    value="{{ i.job_name }}"
                                />
                                <label
                                    class="form-check-label"
                                    for="cdr_job_name{{ i.id }}"
                                    >{{ i.job_name }}</label
                                >
                            </div>
                        </div>

                        <!-- Correction -->
                        <div class="col-md-6">
                            <label class="form-label">Correction</label>
                            <input
                                class="form-check-input me-2"
                                type="checkbox"
                                id="enableCorrection{{ i.id }}"
                                name="correction_check"
                            />
                            <label
                                class="form-check-label"
                                for="enableCorrection{{ i.id }}"
                                >Enable</label
                            >
                            <input
                                type="text"
                                class="form-control mt-2"
                                name="cdr_corrections"
                                value="{{ i.cdr_corrections }}"
                                placeholder="Enter Corrections"
                            />
                        </div>

                        <!-- Attachment -->
                        <div class="col-md-6">
                            <label class="form-label">Attachment</label>
                            <input
                                type="file"
                                class="form-control"
                                name="attachment"
                                accept=".jpeg,.png,.jpg,.ai"
                                multiple
                            />
                        </div>

                        <!-- Notes -->
                        <div class="col-md-6">
                            <label class="form-label">Notes</label>
                            <input
                                type="text"
                                class="form-control"
                                name="notes"
                                placeholder="Write Notes"
                            />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button
                        type="reset"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Send Mail
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
