{% extends "Base/base.html" %}
{% load custom_tags %}
{% load static %}


{% block main_block %}
    <div class="page-inner">
            <div
                class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4" >
                <div>
                    <h3 class="fw-bold mb-3">Purchase Order</h3>
                </div>
            </div>
            {% include "Includes/purchase_order/form.html" %}
 


    </div>
{% endblock %}
{% block script %}
<script>
    const pouchRateAjaxUrl = "{% url 'purchase_order_ajax' %}";
</script>
    <script src="{% static 'js/ajax/purchase_order.js' %}"></script>
    <script src="{% static 'js/purchase_order.js' %}"></script>
<script>
document.addEventListener("DOMContentLoaded", function(){

    const container = document.getElementById("jobs-container");
    const addBtn = document.getElementById("add-job");

    if(container && addBtn){

        addBtn.addEventListener("click", () => {

            let job = container.querySelector(".job-block:last-of-type");
            let clone = job.cloneNode(true);

            clone.querySelectorAll("input, textarea, select").forEach(el => {
                if(el.type === "hidden") return;
                el.value = "";
            });

            container.appendChild(clone);
        });
    }
});
</script>
<script>
document.addEventListener("DOMContentLoaded", function(){

    const container = document.getElementById("job_data_container");
    const addBtn = document.getElementById("add-jobs");

    if(container && addBtn){

        addBtn.addEventListener("click", () => {

            let job = container.querySelector(".job-block_data:last-of-type");
            let clone = job.cloneNode(true);

            clone.querySelectorAll("input, textarea, select").forEach(el => {
                if(el.type === "hidden") return;
                el.value = "";
            });

            container.appendChild(clone);
        });
    }
});
</script>
<script>
document.addEventListener("click", e => {

    if(e.target.classList.contains("remove-job")){

        let jobs = document.querySelectorAll(".job-block, .job-block_data");

        if(jobs.length === 1){
            alert("At least one job is required");
            return;
        }

        e.target.closest(".job-block, .job-block_data").remove();
    }

});
</script>

{% endblock %}