{% extends "Base/base.html" %}
{% load custom_tags %}
{% load static %}


{% block main_block %}
    <div class="page-inner">
            <div
                class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4" >
                <div>
                    <h3 class="fw-bold mb-3">Purchase Order</h3>
                </div>
            </div>
            {% include "Includes/purchase_order/form.html" %}
 


    </div>
{% endblock %}
{% block script %}
<script>
    const pouchRateAjaxUrl = "{% url 'purchase_order_ajax' %}";
</script>
    <script src="{% static 'js/ajax/purchase_order.js' %}"></script>
    <script src="{% static 'js/purchase_order.js' %}"></script>
<script>
document.addEventListener("DOMContentLoaded", function(){

    const container = document.getElementById("jobs-container");
    const addBtn = document.getElementById("add-job");

    // add job
    addBtn.addEventListener("click", () => {
        let job = document.querySelector(".job-block");
        let clone = job.cloneNode(true);

        clone.querySelectorAll("input, textarea, select").forEach(el => el.value = "");
        container.appendChild(clone);
    });

    // remove job
    document.addEventListener("click", e => {
        if(e.target.classList.contains("remove-job")){
            let jobs = document.querySelectorAll(".job-block");
            if(jobs.length === 1){
                alert("At least one job is required");
                return;
            }
            e.target.closest(".job-block").remove();
        }
    });

    

});
</script>



{% endblock %}