{% extends "base/base.html" %} {% load static %} 
{% block main_block %}
<div class="page-inner">
  <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
    <div>
        <h3 class="fw-bold mb-3">Proforma Invoice</h3>
    </div>
  </div>
  
<div class="row">
    <div class="col-12">
        <div class="card card-round mb-3">
            <div class="card-header">
                <div class="card-title">Proforma Details</div>
            </div>
            <div class="card-body">
                <form method="post" id="proformaInvoiceForm" class="row g-4" action="{% url "proforma_invoice_create" %} ">
                    {% csrf_token %}

                    <div class="col-md-4">
                        <label for="invoice_no" class="form-label fw-semibold">Invoice No.</label>
                        <input type="text" class="form-control" id="invoice_no" name="invoice_no" placeholder="Enter invoice number" >
                        <span class="invalid-feedback" id="invoice_no_error">This field is required</span>
                    </div>

                    <div class="col-md-4">
                        <label for="invoice_date" class="form-label fw-semibold">Date</label>
                        <input type="date" class="form-control" id="invoice_date" name="invoice_date" >
                        <span class="invalid-feedback" id="invoice_date_error">This field is required</span>
                    </div>

                    <div class="col-md-4">
                        <label for="due_date" class="form-label fw-semibold">Mode / Term of Payment</label>
                        <input type="text" class="form-control" id="mode_payment" name="mode_payment" value="100%" placeholder="Mode / Term of Payment">
                         <span class="invalid-feedback" id="mode_payment_error">This field is required</span>
                    </div>

                    <div class="col-md-6">
                        <label for="company_name" class="form-label fw-semibold">Customer / Company Name</label>
                        <select class="form-control form-select" id="company_name" name="company_name" >
                            <option value="" selected disabled>Select Customer / Company Name</option>
                            {% for company in company_list %}
                                <option value="{{ company.company_name }}">{{ company.company_name }}</option>
                            {% endfor %}
                            <option value="others">Other</option>
                        </select>
                        <input type="text" id="new_company"  name="new_company" style="display: none" placeholder="New Company Name"  name="new_company" class="form-control">
                        <span class="invalid-feedback"  id="company_name_error">This field is required</span>
                    </div>

                    <div class="col-md-3">
                        <label for="contact" class="form-label fw-semibold">Contact</label>
                        <input type="tel" class="form-control" id="company_contact" name="company_contact" placeholder="9499561272" inputmode="numeric" pattern="\d{10}" maxlength="10" title="Enter 10 digit mobile number" autocomplete="tel" >
                        <span class="invalid-feedback" id="company_contact_error">This field is required</span>
                    </div>

                    <div class="col-md-3">
                        <label for="email" class="form-label fw-semibold">Company Email</label>
                        <input type="email" class="form-control" id="company_email" name="company_email" placeholder="customer@example.com">
                        <span class="invalid-feedback" id="company_email_error">This field is required</span>
                    </div>

                    <div class="col-12">
                        <label for="billing_address" class="form-label fw-semibold">Billing Address</label>
                        <textarea class="form-control" id="billing_address" name="billing_address" rows="2" placeholder="Street, City, State, ZIP"></textarea>
                        <span class="invalid-feedback" id="billing_address_error">This field is required</span>
                    </div>

                    <div class="col-md-4">
                        <label for="billing_state_name" class="form-label fw-semibold">Billing State Name</label>
                        <select class="form-control form-select" id="billing_state_name" name="billing_state_name" required>
                            <option value="" selected disabled>Select State</option>
                            {% for value, label in states %}
                                <option value="{{ value }}">
                                    {{ label }}
                                </option>
                            {% endfor %}
                        </select>

                        <span class="invalid-feedback" id="billing_state_name_error">This field is required</span>
                    </div>


                    <div class="col-md-4">
                        <label for="billing_gstin_no" class="form-label fw-semibold">Billing GSTIN/UN.</label>
                        <input type="text" class="form-control" id="billing_gstin_no" name="billing_gstin_no" placeholder="Billing GSTIN No." >
                        <span class="invalid-feedback" id="billing_gstin_no_error">This field is required</span>
                    </div>
                    
                    
                    <div id="job-container">
                            <div class="row job-section border rounded p-3 mb-3">
                                <div class="col-md-4">
                                <label class="form-label fw-semibold">Title</label>
                                <select id="title" name="title[]" class="form-control">
                                    <option value="" selected disabled>Select Title</option>
                                    <option value="JobWork on Cylinder">JobWork on Cylinder</option>
                                    <option value="Copper Engraved Cylinder">Copper Engraved Cylinder</option>
                                </select>
                                <span class="invalid-feedback">This field is required</span>
                                </div>

                                <div class="col-md-4">
                                    <label for="job_name" class="form-label fw-semibold">Job Name</label>
                                    <select name="job_name[]" id="job_name"class="form-control job-name">
                                    <option value="" selected disabled>Select Job Name</option>
                                    <option value="Printing">Printing</option>
                                    <option value="Packaging">Packaging</option>
                                    <option value="others">Other</option>
                                    </select>

                                    <input type="text" name="new_job" class="form-control mt-2 new-job" style="display:none;" placeholder="Enter new Job">
                                    <span class="invalid-feedback">This field is required</span>
                                </div>

                                <div class="col-md-4">
                                    <label class="form-label fw-semibold">Pouch Open Size</label>
                                    <div class="input-group">
                                    <input type="number" class="form-control pouch-diameter" name="pouch_diameter[]" placeholder="Diameter (e.g. 50)" step="any">
                                    <input type="number" class="form-control pouch-height" name="pouch_height[]" placeholder="Height (e.g. 100)" step="any">
                                    <input type="hidden" class="pouch-open-size" name="pouch_open_size[]">
                                    </div>
                                </div>

                                <div class="col-md-4 mt-3">
                                    <label class="form-label fw-semibold">Cylinder Size</label>
                                    <div class="input-group">
                                    <input type="number" class="form-control cylinder-diameter" name="cylinder_diameter[]" placeholder="Diameter (e.g. 50)" step="any">
                                    <input type="number" class="form-control cylinder-height" name="cylinder_height[]" placeholder="Height (e.g. 100)" step="any">
                                    <input type="hidden" class="cylinder-size" name="cylinder_size[]">
                                    </div>
                                </div>

                            <div class="col-md-4 mt-3">
                                <label for="quantity" class="form-label fw-semibold">Quantity</label>
                                <input type="number" class="form-control item_check" step="any" name="quantity[]" placeholder="Quantity">
                            </div>

                            <div class="col-md-4 mt-3">
                                <label for="prpc" class="form-label fw-semibold">Per Rate Per Cylinder</label>
                                <input type="number" class="form-control item_check" step="any" name="prpc_price[]" placeholder="Per Rate Per Cylinder">
                            </div>

                            
                            </div>

                            <!-- Add Button -->
                            <div class="form-check form-check-inline">
                            <button type="button" id="add-job" class="btn btn-primary d-flex align-items-center">
                                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add New Job
                            </button>
                            </div>
                    
                            <div class="col-md-4 mt-3 d-flex align-items-center">
                                <label class="form-label fw-semibold me-3">GST</label>
                                <div class="form-check form-check-inline"id="sgst_div">
                                    <input class="form-check-input gst-checkbox" id="sgst" type="checkbox" name="gst[]" value="SGST - 9" >
                                    <label class="form-check-label">SGST 9%</label>
                                </div>
                                <div class="form-check form-check-inline"id="cgst_div">
                                    <input class="form-check-input gst-checkbox" type="checkbox" id="cgst" name="gst[]" value="CGST - 9" >
                                    <label class="form-check-label">CGST 9%</label>
                                </div>
                                <div class="form-check form-check-inline"id="igst_div">
                                    <input class="form-check-input gst-checkbox" type="checkbox" id="igst" name="gst[]" value="IGST - 18" >
                                    <label class="form-check-label">IGST 18%</label>
                                </div>
                            </div>
                            <input type="hidden" name="gst_value" id="gst_value" >
                    </div>
                    <div class="col-md-6">
                        <label for="terms" class="form-label fw-semibold">Terms & Notes</label>
                        <input type="text" id="terms" name="terms" class="form-control" placeholder="e.g. Net 30, Delivery within 7 days">
                        <span class="invalid-feedback" id="terms_error">This field is required</span>
                    </div>
                    <div class="col-md-3">
                        <label for="taxable_value" class="form-label fw-semibold">Total Taxable Value</label>
                        <input type="text" id="taxable_value" name="taxable_value" class="form-control" placeholder="Total Taxable Value">
                        <span class="invalid-feedback" id="taxable_value_error">This field is required</span>
                    </div>
                    <div class="col-md-3">
                        <label for="total" class="form-label fw-semibold">Total</label>
                        <input type="text" id="total_amount" name="total_amount" class="form-control" placeholder="Total">
                        <span class="invalid-feedback" id="total_amount_error">This field is required</span>
                    </div>

                    <div class="col-md-3">
                        <label for="order_status" class="form-label fw-semibold">Order Status</label>
                        <select id="order_status" name="order_status" class="form-control">
                            <option value="all" selected disabled selected>Order Status</option>
                            <option value="pending">Pending</option>
                            <option value="confirmed">Confirmed</option>
                           
                            <option value="delivered">Delivered</option>
                            <option value="cancelled">Cancelled</option>
                        </select>
                        <span class="invalid-feedback" id="order_status_error">This field is required</span>
                    </div>


                    <div class="col-md-6">
                        <label for="bank_details" class="form-label fw-semibold">Bank Details</label>
                        <input type="text" id="bank_details" name="bank_details" class="form-control" placeholder="Bank Name, A/C No., IFSC Code">
                        <span class="invalid-feedback" id="bank_details_error">This field is required</span>
                    </div>


                    <div class="col-12 d-flex justify-content-end">
                        <button type="reset" class="btn btn-secondary me-2">Reset</button>
                        <button type="submit" class="btn btn-primary">Save Proforma</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



{% endblock main_block %}
{% block script %}

<script>
$(document).ready(function() {
    $(document).on('input change', '#billing_state_name, #company_name, input[name="gst[]"], .item_check', function() {
        var changedField = $(this).attr('id');
        var billing_state_name = $('#billing_state_name').val();
        var company_name = $('#company_name').val();
    
        var igst = $('#igst').is(':checked') ? 18 : 0;
        var cgst = $('#cgst').is(':checked') ? 9 : 0;
        var sgst = $('#sgst').is(':checked') ? 9 : 0;

       
      

        var quantities = $('input[name="quantity[]"]').map(function() {
            return $(this).val();
        }).get(); 


        var prpc_prices = $('input[name="prpc_price[]"]').map(function() {
            return $(this).val();
        }).get();
        
        if (company_name === "others") {
            $("#new_company").show();
        } else {
            $("#new_company").hide();
        }
        

        console.log("All Quantities:", quantities);
        console.log("All Prices:", prpc_prices);

       
        if (billing_state_name === "Gujarat") {
            $("#igst_div").hide();
            $("#sgst_div").show();
            $("#cgst_div").show();
            igst = 0;
        } else {
            $("#igst_div").show();
            $("#sgst_div").hide();
            $("#cgst_div").hide();
            sgst = 0;
            cgst = 0;
        }

    

        console.log(igst,cgst,sgst)
        $.ajax({
            url: "{% url 'proforma_invoice_ajax' %}",  
            type: "GET",
            data: {
                billing_state_name: billing_state_name,
                company_name: company_name,
                igsts: igst,
                cgsts: cgst,
                sgsts: sgst,
                quantities: quantities,
                prpc_prices: prpc_prices

            },
            success: function(response) {
                

                if (changedField === 'company_name' && response.company_email) {
                    $('#company_email').val(response.company_email);
                    $('#company_contact').val(response.company_contact);
                    $('#billing_address').val(response.billing_address);
                }
                var jobSelect = $('#job_name');
                    
                    jobSelect.empty()
                        .append('<option value="" selected>Select Job</option>');

                    if (response.job && Array.isArray(response.job)) {
                        response.job.forEach(function(i) {
                            jobSelect.append('<option value="' + i.job_name + '">' + i.job_name + '</option>');
                        });
                    }
                    
                jobSelect.append('<option value="others">Other</option>');
                if (response.total_amount !== undefined) {
                    $('#total_amount').val(Number(response.total_amount).toFixed(2));
                }
                if (response.taxable_value !== undefined) {
                    $('#taxable_value').val(Number(response.taxable_value).toFixed(2));
                }
                if (response.gst_amount !== undefined) {
                    $('#gst_value').val(Number(response.gst_amount).toFixed(2));
                }
            },
            error: function(xhr, status, error) {
                console.log("Error status:", status);
                console.log("Error details:", error);
                console.log("Full response:", xhr.responseText);
                alert("Server error: " + error);
            }
        });
    });
});
</script>

{% comment %} <script>
$(document).ready(function() {
   
    $('#quantity, #prpc_price, #billing_state_name,#taxable_value, #gst_value, #company_name, #igst_div , #cgst_div #sgst_div, #job_name, input[name="gst[]"]').on('input change', function() {
        var changedField = $(this).attr('id');
        var quantity = $('#quantity').val();
        var job_name = $('#job_name').val();
        var taxable_value = $('#taxable_value').val();
        var gst_value = $('#gst_value').val();
        var prpc_price = $('#prpc_price').val();
        var billing_state_name = $('#billing_state_name').val();
        var company_name = $('#company_name').val();
        var igst = $('#igst').is(':checked') ? 18 : 0;
        var cgst = $('#cgst').is(':checked') ? 9 : 0;
        var sgst = $('#sgst').is(':checked') ? 9 : 0;
        console.log(billing_state_name)
        
        
        if (company_name === "others") {
            $("#new_company").show();
        }else if (company_name === " "){
            $("#new_company").hide();
        }
         else {
            $("#new_company").hide();
        }
        
       
        if (billing_state_name === "Gujarat") {
            $("#igst_div").hide(); 
            $("#sgst_div").show();
            $("#cgst_div").show();
            igst = 0
        } else {
            $("#igst_div").show(); 
            $("#sgst_div").hide();
            $("#cgst_div").hide();
            sgst = 0
            cgst = 0
        }
        console.log(igst,sgst,cgst)
        

        $.ajax({
            url: "{% url 'proforma_invoice_ajax' %}",
            type: "GET",
            data: {
                quantity: quantity,
                prpc_price: prpc_price,
                billing_state_name: billing_state_name,
                company_name: company_name,
                igsts: igst,
                cgsts: cgst,
                sgsts: sgst,  
            },
            success: function(response) {
                if (changedField === 'company_name') {
                    $('#company_email').val(response.company_email);
                    $('#company_contact').val(response.company_contact);
                    $('#billing_address').val(response.billing_address);
                    var jobSelect = $('#job_name');
                    
                    jobSelect.empty()
                        .append('<option value="" selected>Select Job</option>');

                    if (response.job && Array.isArray(response.job)) {
                        response.job.forEach(function(i) {
                            jobSelect.append('<option value="' + i.job_name + '">' + i.job_name + '</option>');
                        });
                    }
                    
                    jobSelect.append('<option value="others">Other</option>');
                    $('#total_amount').val(response.total_amount.toFixed(2));
                    $('#taxable_value').val(response.base_amount.toFixed(2));
                    $('#gst_value').val(response.gst_amount.toFixed(2));
                } else {
                    $('#taxable_value').val(response.base_amount.toFixed(2));
                    $('#total_amount').val(response.total_amount.toFixed(2));
                    $('#gst_value').val(response.gst_amount.toFixed(2));
                }
            },
            error: function(xhr, status, error) {
                alert("Server error: " + error);
            }
        });
    });
});
</script>  {% endcomment %}




<script>
$(document).ready(function() {
  let jobIndex = 1;


  $(document).on('change', '.job-name', function() {
    const section = $(this).closest('.job-section');
    const newJobInput = section.find('.new-job');

    if ($(this).val() === 'others') {
      newJobInput.show().focus();
    } else {
      newJobInput.hide().val('');
  
      section.find('.job-name option.custom-job').remove();
    }
  });

  $(document).on('input', '.new-job', function() {
    const section = $(this).closest('.job-section');
    const dropdown = section.find('.job-name');
    const newJobName = $(this).val().trim();

    
    dropdown.find('option.custom-job').remove();

    if (newJobName !== '') {
      dropdown.append(`<option class="custom-job" value="${newJobName}" selected>${newJobName}</option>`);
    } else {
      dropdown.val('others');
    }
  });

  
  $(document).on('input', '.pouch-diameter, .pouch-height', function() {
    const section = $(this).closest('.job-section');
    const diameter = section.find('.pouch-diameter').val();
    const height = section.find('.pouch-height').val();
    if (diameter && height) {
      section.find('.pouch-open-size').val(`${diameter}x${height}`);
      console.log("Pouch Open Size:", section.find('.pouch-open-size').val());
    }
  });

  
  $(document).on('input', '.cylinder-diameter, .cylinder-height', function() {
    const section = $(this).closest('.job-section');
    const diameter = section.find('.cylinder-diameter').val();
    const height = section.find('.cylinder-height').val();
    if (diameter && height) {
      section.find('.cylinder-size').val(`${diameter}x${height}`);
      console.log("Cylinder Size:", section.find('.cylinder-size').val());
    }
  });


  $('#add-job').on('click', function(e) {
    e.preventDefault();
    let newSection = $('.job-section:first').clone();
    newSection.find('input').val('');
    newSection.find('select').prop('selectedIndex', 0);
    newSection.find('.new-job').hide();
    newSection.find('option.custom-job').remove();
    $('#job-container').append(newSection);
    jobIndex++;
  });
});
</script>



{% endblock script %}

