<footer class="footer">
          <div class="container-fluid d-flex justify-content-between">
            <nav class="pull-left">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="http://www.themekita.com">
                    Yuvraj Soni
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> Help </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> Licenses </a>
                </li>
              </ul>
            </nav>
            <div class="copyright">
              2025, made with <i class="fa fa-heart heart text-danger"></i> by
              <a href="http://www.themekita.com">Nirmal</a>
            </div>
            <div>
              Distributed by
              <a target="_blank" href="https://themewagon.com/">Mighty Tech.</a>
            </div>
          </div>
        </footer>



        {% comment %} def login_page(request):
    try:
        if request.method == 'POST':
            username_email = request.POST.get('username')
            password = request.POST.get('password')
            remember_me = request.POST.get('remember_me')
            print(remember_me)
            
            # Validate if email format is correct
            valid = re.match(r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$', username_email)
            
            if valid:
                user_login = Registration.objects.get(email=username_email.lower()).username
                user = authenticate(request, username=user_login, password=password)
            else:
                user = authenticate(request, username=username_email, password=password)

            if user is not None:
                # Handle session expiration based on "remember me" checkbox
                if remember_me == "on":
                    # Set session to expire after 30 days (or any custom duration)
                    request.session.set_expiry(60 * 60 * 24 * 30)  # 30 days in seconds
                else:
                    # Session expires when the browser is closed
                    request.session.set_expiry(0)

                login(request, user)
                messages.success(request, 'You are logged in.')
                return redirect('dashboard_page')
            else:
                messages.error(request, "Invalid username or password.")
                logger.error("Invalid username or password.")
                return redirect('login_page')

    except Exception as e:
        messages.warning(request, f'Something went wrong. Please try again: {e}')
        logger.error("Something went wrong: %s", e)
        return redirect('login_page')

    return render(request, 'Registration/login_page.html') {% endcomment %}