<footer class="mt-auto bg-white border-top">
    <div class="container py-3 small">
        <div class="row text-center text-md-start">
            <div class="col-md-4 mb-3">
                <span class="fw-bold" style="color: #5a55ff"
                    >Shree Nirmal Ventures Private Limited</span
                ><br />
                © 2025 All Rights Reserved.
            </div>

            <div class="col-md-4 mb-3">
                <span class="fw-bold" style="color: #5a55ff">Support</span
                ><br />
                Email: sales@nirmalgroup.com<br />
                Phone: + (91) 8780612072
            </div>

            <div class="col-md-4">
                <span class="fw-bold" style="color: #5a55ff">Location</span
                ><br />
                Navratna Corporate Park, Block - B,<br />
                Unit. 1601 Opp. Jayntilal Park,<br />
                Ambli, Bopal Road, Ahmedabad - 380058
            </div>
        </div>
    </div>
</footer>
