<footer class="mt-auto bg-white border-top">
    <div class="container py-3 small">
        <div class="row text-center text-md-start">
            <div class="col-md-4 mb-3">
                <span class="fw-bold" style="color:#5a55ff;">Shree Nirmal Ventures</span><br>
                © 2025 All Rights Reserved.
            </div>

            <div class="col-md-4 mb-3">
                <span class="fw-bold" style="color:#5a55ff;">Support</span><br>
                Email: help@nirmal.com<br>
                Phone: +91 98765 43210
            </div>

            <div class="col-md-4">
                <span class="fw-bold" style="color:#5a55ff;">Location</span><br>
                Shubhas Nagar, Patel Park,<br>
                Mumbai, India
            </div>
        </div>
    </div>
</footer>
