{% load static %}
<!-- Sidebar -->
<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="{% url 'dashboard_page' %}" class="logo d-flex align-items-center">
                <svg width="50" height="50" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="me-2">
                    <!-- Outer purple triangle -->
                    <polygon points="50,5 95,90 5,90" fill="#5b079cff"/>
                    <!-- Inner gold triangle -->
                    <polygon points="50,35 75,75 25,75" fill="#d4af37"/>
                </svg>
                <span class="fw-bold text-white" style="font-size: 1.0rem; letter-spacing: 0.5px;">SHRRI NIRMAL </span>
            </a>
         
            <div class="nav-toggle ms-auto">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>

    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item active">
                    <a href="{% url "dashboard_page" %}">
                        <i class="fas fa-home"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Other</h4>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#sidebarLayouts">
                        <i class="fas fa-th-list"></i>
                        <p>Manage User</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="sidebarLayouts">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url "register_page" %}">
                                    <span class="sub-item">Add User</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url "edit_user_page" %}">
                                    <span class="sub-item">Edit User</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#company_add_page">
                        <i class="fas fa-th-list"></i>
                        <p>CDR Upload</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="company_add_page">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url "company_add_page" %}">
                                    <span class="sub-item">Add & View CDR</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#Quotation">
                        <i class="fas fa-th-list"></i>
                        <p>Proforma Invoice</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="Quotation">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url "proforma_invoice_page" %}">
                                    <span class="sub-item">Add & View Proforma Invoice</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url "view_proforma_invoice" %}">
                                    <span class="sub-item">View Proforma Invoices </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="mt-auto text-center pt-3"
             style="position: absolute;
                    bottom: 10%;
                    width: 100%">
            <a href="{% url 'logout' %}" class="btn btn-danger btn-sm w-75">
                <i class="fas fa-sign-out-alt"></i> Logout
            </a>
        </div>
    </div>
</div>