{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title></title>
    </head>

    <body
        style="
            margin: 0;
            padding: 0;
            background-color: #f4f4f8;
            font-family: Arial, Helvetica, sans-serif;
        "
    >
        <!-- MAIN WRAPPER -->
        <table
            role="presentation"
            width="100%"
            cellspacing="0"
            cellpadding="0"
            border="0"
            style="background-color: #f4f4f8; padding: 20px 0"
        >
            <tr>
                <td align="center">
                    <!-- INNER CONTAINER -->
                    <table
                        role="presentation"
                        width="600"
                        cellspacing="0"
                        cellpadding="0"
                        border="0"
                        style="
                            background-color: #ffffff;
                            border-radius: 6px;
                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
                            padding: 20px;
                        "
                    >
                        <!-- HEADER -->
                        <tr>
                            <td
                                style="
                                    border-bottom: 2px solid #5b21b6;
                                    padding-bottom: 10px;
                                "
                            >
                                <table
                                    width="100%"
                                    cellspacing="0"
                                    cellpadding="0"
                                >
                                    <tr>
                                        <td width="80" align="left">
                                            <img
                                                src="{% static 'assets/img/nirmal_logo.png' %}"
                                                alt="Company Logo"
                                                style="
                                                    display: block;
                                                    width: 80px;
                                                    height: auto;
                                                "
                                            />
                                        </td>

                                        <td
                                            align="right"
                                            style="
                                                font-size: 13px;
                                                line-height: 1.5;
                                            "
                                        >
                                            <b
                                                style="
                                                    color: #5b21b6;
                                                    font-size: 16px;
                                                "
                                                >Shrri Nirmal Ventures Private
                                                Limited</b
                                            ><br />
                                            Navratna Corporate Park, Block - B,<br>
                                            Unit. 1601 Opp. Jayntilal Park,<br>
                                            Ambli, Bopal Road, Ahmedabad -
                                            380058
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        {% block mail_content %}
                        
                        
                        
                        {% endblock %}

                        <!-- FOOTER -->
                        <tr>
                            <td
                                align="center"
                                style="
                                    padding-top: 20px;
                                    border-top: 2px solid #5b21b6;
                                    font-size: 13px;
                                    color: #555;
                                "
                            >
                                © Shrri Nirmal Ventures Private
                                                Limited
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
