{% extends "Base/base.html" %}
{% load custom_tags %}
{% block title %}
    Company New Page
{% endblock title %}
{% load static %}
{% block styles %}
    <style>
.input-wrapper {
    position: relative;
}
.input-wrapper label {
    position: absolute;
    top: -0.6rem;
    left: 1.75rem;
    background: #FFFFFF;
    padding: 0 4px;
    font-size: 0.8rem;
    color: #aaa;
}
.nexticon {
    position: absolute;
    right: -20px;
   
    width: 20px;
    border-radius: 20px;
    color: #000000ff;
}
.previcon {
    position: absolute;
    left: -20px;
    
    width: 20px;
    border-radius: 20px;
    color: #000000ff;
}
    </style>
{% endblock styles %}
{% block main_block %}
    <div class="container-fluid py-4">
        <div class="row justify-content-center">
            <div class="col-11">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-bold mb-0">Upload CDR</h3>
                </div>
                <div class="card shadow col-12 col-xl-12 col-xxl-12">
                    <div class="card-header bg-primary text-white">
                        <h5 class="mb-0">
                            <i class="bi bi-plus-circle me-2"></i>Upload CDR File
                        </h5>
                    </div>
                    <div class="card-body">
                        <form action="{% url "new_cdr_upload" %}"
                              id="cdr_form"
                              method="post"
                              autocomplete="off"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label for="company_name" class="form-label fw-semibold text-dark">Company Name</label>
                                    <span style="color:red;">*</span>
                                    <select id="company_name"
                                            name="company_name"
                                            class="form-select form-control"
                                            aria-label="Default select example">
                                        <option value='' selected>Select Company Name</option>
                                        {% for company in cdr_company_name %}
                                            <option value="{{ company.company_name }}">{{ company.company_name }}</option>
                                        {% endfor %}
                                        <option value="others">Other</option>
                                    </select>
                                    <input type="text"
                                           id="new_company_name"
                                           name="new_company_name"
                                           class="form-control"
                                           placeholder="Company Name"
                                           style="display:none">
                                    <div class="invalid-feedback"
                                         id="company_name_error"
                                         style="display: none">Please provide a Company Name</div>
                                </div>
                                <div class="col-md-4">
                                    <label for="job_name" class="form-label fw-semibold text-dark">Job name</label>
                                    <span style="color:red;">*</span>
                                    <select id="job_name"
                                            name="job_name"
                                            class="form-control form-select"
                                            placeholder="Select or type to job name...">
                                        <option value="">Select a job...</option>
                                        {% for job in cdr_job_names %}<option value="{{ job.job_name }}">{{ job.job_name }}</option>{% endfor %}
                                        <option value="others">Other</option>
                                    </select>
                                    <input type="text"
                                           id="new_job_name"
                                           name="new_job_name"
                                           class="form-control"
                                           placeholder="Write Job Name"
                                           style="display:none">
                                    <div class="invalid-feedback" id="job_name_error">Please provide Job Name.</div>
                                </div>
                                <div class="col-md-4">
                                    <label for="company_email" class="form-label fw-semibold text-dark">Company Email</label>
                                    <span style="color:red;">*</span>
                                    <select id="company_email"
                                            name="company_email"
                                            class="form-select form-control"
                                            aria-label="Default select example">
                                        <option selected>Select Company Email</option>
                                        {% for email in cdr_email %}<option value="{{ email.company_email }}">{{ email.company_email }}</option>{% endfor %}
                                        <option value="other">Other</option>
                                    </select>
                                    <input type="email"
                                           id="new_company_email"
                                           name="new_company_email"
                                           class="form-control mt-2"
                                           maxlength="50"
                                           placeholder="Enter Email Address"
                                           style="display:none" />
                                    <div class="invalid-feedback" id="company_email_error">Please provide a valid email address.</div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label for="cdr_upload_date" class="form-label fw-semibold text-dark">CDR Upload Date</label>
                                    <span style="color:red;">*</span>
                                    <input type="date"
                                           id="cdr_upload_date"
                                           name="cdr_upload_date"
                                           value="{% now "Y-m-d" %}"
                                           class="form-control" />
                                    <span class="invalid-feedback" id="cdr_upload_date_error">Please Provide Date</span>
                                </div>
                                <div class="col-md-4">
                                    <label for="cdr_files" class="form-label fw-semibold text-dark">Upload CDR File</label>
                                    <span style="color:red;">*</span>
                                    <input type="file"
                                           id="cdr_files"
                                           name="cdr_files"
                                           class="form-control"
                                           multiple
                                           accept=".jpeg,.png,.jpg,.ai" />
                                    <span class="invalid-feedback" id="cdr_files_error">Please Provide CDR File</span>
                                </div>
                                <div class="col-md-4">
                                    <label for="cdr_corrections" class="form-label fw-semibold text-dark">CDR Correction</label>
                                    <input type="text"
                                           id="cdr_corrections"
                                           name="cdr_corrections"
                                           placeholder="Enter CDR Corrections"
                                           class="form-control" />
                                </div>
                            </div>
                            <div class="d-flex justify-content-end gap-2 border-top pt-3">
                                <a href="{% url "company_add_page" %}">
                                    <button type="button" class="btn btn-outline-secondary">
                                        <i class="bi bi-arrow-clockwise me-1"></i>Reset
                                    </button>
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="bi bi-check-circle me-1"></i>Create
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-round">
                    <div class="card-header">
                        <div class="card-head-row card-tools-still-right">
                            <div class="card-title">CDR Details</div>
                            <div class="card-tools">
                                <form method="get"
                                      class="d-flex flex-wrap align-items-center"
                                      action="{% url 'company_add_page' %}">
                                    <div class="me-1 mb-2 col-12 col-md-auto input-wrapper">
                                        <label for="date">Start Date</label>
                                        <input type="date"
                                               class="form-control"
                                               id="date"
                                               name="date"
                                               placeholder="Start Date"
                                               value="{{ request.GET.date }}">
                                    </div>
                                    <div class="me-1 mb-2 col-12 col-md-auto input-wrapper">
                                        <label for="end_date">End Date</label>
                                        <input type="date"
                                               class="form-control"
                                               id="end_date"
                                               name="end_date"
                                               placeholder="End Date"
                                               value="{{ request.GET.end_date }}">
                                    </div>
                                    <div class="form-outline me-2 mb-2 col-12 col-md-auto" data-mdb-input-init>
                                        <input type="text"
                                               name="search"
                                               id="search"
                                               class="form-control"
                                               value="{{ request.GET.search }}"
                                               placeholder="Search Field">
                                    </div>
                                    <button type="submit"
                                            class="btn btn-primary w-sm-25 w-md-auto me-2 mb-2"
                                            data-mdb-ripple-init>
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <a href="{% url 'company_add_page' %}">
                                        <button type="button"
                                                name="reset"
                                                class="btn btn-secondary col-12 col-md-auto mb-2"
                                                data-mdb-ripple-init>Reset</button>
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="thead-light">
                                    <tr class="text-nowrap text-center">
                                        <th scope="col">
                                            <a href="?sorting={% if request.GET.sorting == 'asc' %}desc{% else %}asc{% endif %}&search={{ request.GET.search }}&end_date={{ request.GET.end_date }}&date={{ request.GET.date }}&page={{ request.GET.page }}">Sr No</a>
                                        </th>
                                        <th scope="col">
                                            <a href="?company_name_sorting={% if request.GET.company_name_sorting == 'asc' %}desc{% else %}asc{% endif %}&search={{ request.GET.search }}&end_date={{ request.GET.end_date }}&date={{ request.GET.date }}&page={{ request.GET.page }}">Company Name</a>
                                        </th>
                                        <th scope="col">
                                            <a href="?job_name_sorting={% if request.GET.job_name_sorting == 'asc' %}desc{% else %}asc{% endif %}&search={{ request.GET.search }}&end_date={{ request.GET.end_date }}&date={{ request.GET.date }}&page={{ request.GET.page }}">Job Name</a>
                                        </th>
                                        <th scope="col">Company Email Address</th>
                                        <th scope="col">
                                            <a href="?date_sorting={% if request.GET.date_sorting == 'asc' %}desc{% else %}asc{% endif %}&search={{ request.GET.search }}&end_date={{ request.GET.end_date }}&date={{ request.GET.date }}&page={{ request.GET.page }}">CDR Upload Date</a>
                                        </th>
                                        <th scope="col">CDR Folder id</th>
                                        <th scope="col">CDR Corrections</th>
                                        <th scope="col" colspan="3">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in cdr_details %}
                                        <tr class="text-nowrap text-center">
                                            <td data-bs-toggle="modal" data-bs-target="#viewModal{{ i.id }}">
                                                {{ forloop.counter|add:page_obj.start_index|add:"-1" }}
                                            </td>
                                            <td>{{ i.company_name }}</td>
                                            <td title="{{ i.job_name }}">{{ i.job_name }}</td>
                                            <td>{{ i.company_email }}</td>
                                            <td>{{ i.date }}</td>
                                            {% if i.file_url == none or i.file_url == '' %}
                                                <td>
                                                    <div id="carousel-{{ i.id }}"
                                                         class="carousel slide"
                                                         data-bs-ride="carousel">
                                                        <div class="carousel-inner">
                                                            {% for cdr_image in i.cdr_images.all %}
                                                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                                                    <div class="d-flex justify-content-center align-items-center"
                                                                         style="height: 50px">
                                                                        <a class="icon-link" href="{{ cdr_image.image.url }}" target="_blank">{{ cdr_image.image.name|filename }}</a>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                        <!-- Controls -->
                                                        <button class="carousel-control-prev"
                                                                type="button"
                                                                data-bs-target="#carousel-{{ i.id }}"
                                                                data-bs-slide="prev">
                                                            <span class="previcon" aria-hidden="false"><i class="fa fa-caret-left" aria-hidden="true"></i></span>
                                                        </button>
                                                        <button class="carousel-control-next"
                                                                type="button"
                                                                data-bs-target="#carousel-{{ i.id }}"
                                                                data-bs-slide="next">
                                                            <span class="nexticon" aria-hidden="true"><i class="fa fa-caret-right" aria-hidden="true"></i></span>
                                                        </button>
                                                    </div>
                                                </td>
                                            {% else %}
                                                <td>
                                                    <a class="icon-link" href="{{ i.file_url }}">View Folder</a>
                                                </td>
                                            {% endif %}
                                            {% if i.cdr_corrections %}
                                                <td class="text-truncate"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#event_corrections{{ i.id }}">
                                                    {{ i.cdr_corrections|truncatechars:20 }}
                                                </td>
                                            {% else %}
                                                <td>-</td>
                                            {% endif %}
                                            <td class="text-truncate">
                                                <form method="post" action="{% url 'delete_cdr' delete_id=i.id %}" class="d-inline" id="delete-form-{{ i.id }}">
                                                        {% csrf_token %}
                                                        <button type="button" class="btn btn-sm btn-outline-danger ms-1" 
                                                                data-bs-toggle="modal" data-bs-target="#confirmationModal" 
                                                                data-id="{{ i.id }}">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                                                            </svg>
                                                        </button>
                                                    </form>

                                                    <script>
                                                        let formIdToSubmit;

                                                        // Set the form ID for deletion
                                                        document.addEventListener('DOMContentLoaded', function () {
                                                            const deleteButtons = document.querySelectorAll('.btn-outline-danger');
                                                            deleteButtons.forEach(button => {
                                                                button.addEventListener('click', function () {
                                                                    formIdToSubmit = this.dataset.id;
                                                                });
                                                            });
                                                        });

                                                        // Submit the form if user confirms
                                                        function submitForm() {
                                                            document.getElementById('delete-form-' + formIdToSubmit).submit();
                                                        }
                                                    </script>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="confirmationModalLabel">Confirm Deletion</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    Are you sure you want to delete this item? 
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-danger" onclick="submitForm()">Yes</button>
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                                                            
                                                <button type="button"
                                                        class="btn btn-sm btn-outline-primary"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#cdrupdate{{ i.id }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         width="16"
                                                         height="16"
                                                         fill="currentColor"
                                                         class="bi bi-pencil-square"
                                                         viewBox="0 0 16 16">
                                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                                    </svg>
                                                </button>
                                                <button type="button"
                                                        class="btn btn-sm btn-outline-success"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#emailModal{{ i.id }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         width="16"
                                                         height="16"
                                                         fill="currentColor"
                                                         class="bi bi-envelope"
                                                         viewBox="0 0 16 16">
                                                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
                                                    </svg>
                                                </button>
                                            </td>
                                            
                                            <!-- Corrections Modal -->
                                            <div class="modal fade"
                                                 id="event_corrections{{ i.id }}"
                                                 tabindex="-1"
                                                 role="dialog"
                                                 aria-labelledby="exampleModalCenterTitle"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">Correction</h5>
                                                            <button type="button"
                                                                    class="btn-close btn-close-white"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">{{ i.cdr_corrections }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Update Modal -->
                                            <div class="modal fade"
                                                 id="cdrupdate{{ i.id }}"
                                                 tabindex="-1"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-lg modal-dialog-centered modal-xl">
                                                    <div class="modal-content">
                                                        <div class="modal-header bg-light">
                                                            <h5 class="modal-title">Update CDR</h5>
                                                            <button type="button"
                                                                    class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body form-datas">
                                                            <form method="post"
                                                                  action="{% url "update_cdr" update_id=i.id %}"
                                                                  class="cdr-form"
                                                                  enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                                <input type="hidden" value="{{ i.id }}">
                                                                <div class="row g-4">
                                                                    <!-- Event Date -->
                                                                    <div class="col-md-6">
                                                                        <label for="cdr_upload_date" class="form-label fw-bold">CDR Upload Date</label>
                                                                        <span style="color:red;">*</span>
                                                                        <input type="date"
                                                                               class="form-control"
                                                                               id="cdr_upload_date"
                                                                               name="cdr_upload_date"
                                                                               value="{{ i.date|date:'Y-m-d' }}"
                                                                               required>
                                                                        <div class="invalid-feedback" id="event_date_error">Please provide an event date.</div>
                                                                    </div>
                                                                    <!-- Company Name -->
                                                                    <div class="col-md-6">
                                                                        <label for="company_name" class="form-label fw-bold">Company Name</label>
                                                                        <input type="text"
                                                                               id="company_name"
                                                                               class="form-control"
                                                                               name="company_name"
                                                                               value="{{ i.company_name }}"
                                                                               readonly>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label for="company_email" class="form-label fw-bold">Company Email</label>
                                                                        <input type="text"
                                                                               id="company_email"
                                                                               class="form-control"
                                                                               name="company_email"
                                                                               value="{{ i.company_email }}">
                                                                    </div>
                                                                    <!-- Job Name -->
                                                                    <div class="col-md-6">
                                                                        <label for="job_name" class="form-label fw-bold">Job Name</label>
                                                                        <input type="text"
                                                                               id="job_name"
                                                                               class="form-control"
                                                                               name="job_name"
                                                                               value="{{ i.job_name }}"
                                                                               readonly>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label for="files" class="form-label fw-bold">Upload Images</label>
                                                                        <input type="file"
                                                                               class="form-control"
                                                                               id="files"
                                                                               name="files"
                                                                               multiple
                                                                               accept=".jpeg,.png,.jpg,.ai">
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label for="cdr_corrections" class="form-label fw-bold">CDR Corrections</label>
                                                                        <input type="text"
                                                                               class="form-control"
                                                                               id="cdr_corrections"
                                                                               name="cdr_corrections"
                                                                               placeholder="Any Corrections...?"
                                                                               value="{{ i.cdr_corrections }}">
                                                                    </div>
                                                                </div>
                                                                <!-- Form Actions -->
                                                                <div class="col-12 mt-3">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <button type="submit"
                                                                            onclick="return validateUpdateForm(this.form)"
                                                                            class="btn btn-primary">
                                                                        Save changes
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Email Modal -->
                                            <div class="modal fade"
                                                 id="emailModal{{ i.id }}"
                                                 tabindex="-1"
                                                 role="dialog"
                                                 aria-labelledby="emailModalLabel{{ i.id }}"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="emailModalLabel{{ i.id }}">Send Mail</h5>
                                                            <button type="button"
                                                                    class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form method="post"
                                                                  action="{% url 'cdr_sendmail_data' %}"
                                                                  enctype="multipart/form-data"
                                                                  autocomplete="off">
                                                                {% csrf_token %}
                                                                <div class="row g-4">
                                                                    <!-- CDR Date -->
                                                                    <div class="col-md-6">
                                                                        <label for="date" class="form-label fw-bold">CDR Date</label>
                                                                        <div class="form-check mb-2">
                                                                            <input class="form-check-input"
                                                                                   type="checkbox"
                                                                                   name="cdr_date_check"
                                                                                   value="true"
                                                                                   id="cdrDateCheck{{ i.id }}">
                                                                            <label class="form-check-label" for="cdrDateCheck{{ i.id }}">Enable Date</label>
                                                                        </div>
                                                                        <input type="date"
                                                                               class="form-control"
                                                                               id="date"
                                                                               name="date"
                                                                               value="{{ i.date|date:'Y-m-d' }}">
                                                                    </div>
                                                                    <!-- Company Name -->
                                                                    <div class="col-md-6">
                                                                        <label class="form-label fw-bold">Company Name</label>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input"
                                                                                   type="checkbox"
                                                                                   id="cdr_company_name{{ i.id }}"
                                                                                   name="cdr_company_name"
                                                                                   value="{{ i.company_name }}">
                                                                            <label class="form-check-label" for="cdr_company_name{{ i.id }}">{{ i.company_name }}</label>
                                                                        </div>
                                                                    </div>
                                                                    <!-- Company Email Address -->
                                                                    <div class="col-md-6">
                                                                        <label for="cdr_company_address" class="form-label fw-bold">Company Email Address</label>
                                                                        <input type="email"
                                                                               id="cdr_company_address"
                                                                               class="form-control"
                                                                               name="cdr_company_address"
                                                                               placeholder="Enter Company Email Address"
                                                                               maxlength="50"
                                                                               value="{{ i.company_email }}">
                                                                    </div>
                                                                    <!-- Job Name -->
                                                                    <div class="col-md-6">
                                                                        <label class="form-label fw-bold">Job Name</label>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input"
                                                                                   type="checkbox"
                                                                                   id="cdr_job_name{{ i.id }}"
                                                                                   name="cdr_job_name"
                                                                                   value="{{ i.job_name }}">
                                                                            <label class="form-check-label" for="cdr_job_name{{ i.id }}">{{ i.job_name }}</label>
                                                                        </div>
                                                                    </div>
                                                                    <!-- Correction -->
                                                                    <div class="col-md-6">
                                                                        <label for="cdr_corrections" class="form-label fw-bold">Correction</label>
                                                                        <div class="form-check mb-2">
                                                                            <input class="form-check-input"
                                                                                   type="checkbox"
                                                                                   name="correction_check"
                                                                                   value="true"
                                                                                   id="enableCorrection{{ i.id }}">
                                                                            <label class="form-check-label" for="enableCorrection{{ i.id }}">Enable Correction</label>
                                                                        </div>
                                                                        <input type="text"
                                                                               class="form-control"
                                                                               id="cdr_corrections"
                                                                               name="cdr_corrections"
                                                                               placeholder="Enter Corrections"
                                                                               value="{{ i.cdr_corrections }}">
                                                                    </div>
                                                                    <!-- Attachment -->
                                                                    <div class="col-md-6">
                                                                        <label for="attachment" class="form-label fw-bold">Attachment</label>
                                                                        <input type="file"
                                                                               class="form-control"
                                                                               id="attachment"
                                                                               name="attachment"
                                                                               accept=".jpeg,.png,.jpg,.ai"
                                                                               multiple>
                                                                    </div>
                                                                    <!-- Notes -->
                                                                    <div class="col-md-6">
                                                                        <label for="notes" class="form-label fw-bold">Note</label>
                                                                        <input type="text"
                                                                               class="form-control"
                                                                               id="notes"
                                                                               name="notes"
                                                                               placeholder="Write Notes">
                                                                    </div>
                                                                    <!-- Action Buttons -->
                                                                    <div class="col-12 text-end">
                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                        <button type="submit" class="btn btn-primary">Send Mail</button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- View Modal -->
                                            <div class="modal fade"
                                                 id="viewModal{{ i.id }}"
                                                 tabindex="-1"
                                                 role="dialog"
                                                 aria-labelledby="exampleModalCenterTitle"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                                    <div class="modal-content">
                                                        <!-- Modal Header -->
                                                        <div class="modal-header bg-primary text-white">
                                                            <h5 class="modal-title">CDR Details</h5>
                                                            <button type="button"
                                                                    class="btn-close btn-close-white"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <!-- Modal Body -->
                                                        <div class="modal-body">
                                                            <div class="container-fluid">
                                                                <div class="row">
                                                                    <!-- Column 1 -->
                                                                    <div class="col-md-4 mb-3">
                                                                        <p>
                                                                            <strong>Date:</strong> {{ i.date }}
                                                                        </p>
                                                                        <p>
                                                                            <strong>Link:</strong> <a href="{{ i.file_url }}"
                                                                                target="_blank"
                                                                                class="btn btn-outline-primary btn-sm">Open Folder</a>
                                                                        </p>
                                                                    </div>
                                                                    <!-- Column 2 -->
                                                                    <div class="col-md-4 mb-3">
                                                                        <p>
                                                                            <strong>Job Name:</strong> {{ i.job_name }}
                                                                        </p>
                                                                        <p>
                                                                            <strong>Job Corrections:</strong> {{ i.cdr_corrections }}
                                                                        </p>
                                                                    </div>
                                                                    <!-- Column 3 -->
                                                                    <div class="col-md-4 mb-3">
                                                                        <p>
                                                                            <strong>Company Name:</strong> {{ i.company_name }}
                                                                        </p>
                                                                        <p>
                                                                            <strong>Company Email:</strong> {{ i.company_email }}
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <button class="btn btn-secondary"
                                                                    onclick="printJobDetails(this)"
                                                                    data-id="{{ i.id }}"
                                                                    data-job_name="{{ i.job_name }}"
                                                                    data-date="{{ i.date }}"
                                                                    data-company_name="{{ i.company_name }}"
                                                                    data-company_email="{{ i.company_email }}"
                                                                    data-correction="{{ i.cdr_corrections }}"
                                                                    data-folder_url="{{ i.file_url }}">Print</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% if cdr_details %}
                <nav aria-label="Page navigation example">
                    <div class="pagination-info">Page {{ cdr_details.number }} of {{ cdr_details.paginator.num_pages }}</div>
                    <ul class="pagination justify-content-end">
                        {% if cdr_details.has_previous %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ cdr_details.previous_page_number }}&search={{ request.GET.search }}&date={{ request.GET.date }}&end_date={{ request.GET.end_date }}">Previous</a>
                            </li>
                        {% endif %}
                        {% for i in cdr_details.paginator.page_range %}
                            <li class="page-item {% if cdr_details.number == i %}active{% endif %}">
                                <a class="page-link"
                                   href="?page={{ i }}&search={{ request.GET.search }}&date={{ request.GET.date }}&end_date={{ request.GET.end_date }}">{{ i }}</a>
                            </li>
                        {% endfor %}
                        {% if cdr_details.has_next %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ cdr_details.next_page_number }}&search={{ request.GET.search }}&date={{ request.GET.date }}&end_date={{ request.GET.end_date }}">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
{% endblock main_block %}
{% block script %}
    <script src="{% static 'js/cdr_page.js' %}"></script>
    <script>
function validateUpdateForm(form) {
    let valid = true;
    let requiredFields = [
        form.cdr_upload_date,
        form.company_email,
      
    ];
    requiredFields.forEach(function(field) {
        if (field && !field.value.trim()) {
            field.classList.add('is-invalid');
            valid = false;
        } else if(field) {
            field.classList.remove('is-invalid');
        }
    });
    let errorMsg = form.querySelector('#updateFormError');
    if (!valid) {
        if (errorMsg) errorMsg.style.display = 'block';
        return false;
    } else {
        if (errorMsg) errorMsg.style.display = 'none';
        return true;
    }
}
    </script>
    <script>
$("#company_name").change(function () {
    let companyName = $(this).val();
    if (companyName) {
        $.ajax({
            url: '{% url "company_name_suggestion" %}',
            data: { company_name: companyName },
            success: function (data) {
          
                $("#job_name")
                    .empty()
                    .append('<option value="">Select Job</option>');
                $("#job_name").append('<option value="others">Other</option>');

             
                $("#company_email")
                    .empty()
                    .append('<option value="">Select Company Email</option>');
                
           
                if (data.email && data.email.length > 0) {
              
                    $.each(data.email, function (index, email) {
                        $("#company_email").append(
                            '<option value="' + email.company_email + '">' + email.company_email + "</option>"
                        );
                    });
                } else {
     
                    $("#company_email").append('<option value="other">Other</option>');
                }

    
                $.each(data.jobs, function (index, job) {
                    $("#job_name").append(
                        '<option value="' + job.job_name + '">' + job.job_name + "</option>"
                    );
                });
            },
        });
    } else {
     
        $("#job_name").empty().append('<option value="">Select Job</option>');
        $("#job_name").append('<option value="others">Other</option>');

    
        $("#company_email")
            .empty()
            .append('<option value="">Select Company Email</option>');
        $("#company_email").append('<option value="other">Other</option>');
    }
});
    </script>
{% endblock script %}
