{% extends "Base/base.html" %}
{% load custom_tags %}
{% load static %}

{% block styles %}
    <style>
        .nexticon {
            position: absolute;
            right: -20px;
            width: 20px;
            border-radius: 20px;
            color: #000000ff;
        }

        .previcon {
            position: absolute;
            left: -20px;
            width: 20px;
            border-radius: 20px;
            color: #000000ff;
        }
    </style>
{% endblock styles %}

{% block main_block %}
    <div class="page-inner">
            <div
                class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4" >
                <div>
                    <h3 class="fw-bold mb-3">Upload CDR</h3>
                </div>
            </div>
            {% include 'Includes/cdr_page/form.html' %}
        
            
        <!-- CDR Details Table Section -->
        <div class="row">
            <div class="col-md-12">
                <div class="card card-round">
                <!-- Card Header with Search Filters -->
                    <div class="card-header">
                        <div class="card-head-row card-tools-still-right">
                            <div class="card-title">CDR Details</div>

                            <div class="card-tools">
                                <form method="get" class="row gx-2 gy-2 align-items-end"
                                      action="{% url 'cdr_page' %}">
                                <!-- Start Date -->
                                    <div class="col-auto">
                                        <label for="date" class="form-label fw-bold mb-0 small">Start Date</label>
                                        <input type="date" class="form-control" id="date" name="date"
                                               value="{{ request.GET.date }}">
                                    </div>

                                <!-- End Date -->
                                    <div class="col-auto">
                                        <label for="end_date" class="form-label fw-bold mb-0 small">End Date</label>
                                        <input type="date" class="form-control" id="end_date" name="end_date"
                                               value="{{ request.GET.end_date }}">
                                    </div>

                                <!-- Party Name Filter -->
                                    <div class="col-auto">
                                        <label for="search" class="form-label mb-0 fw-bold d-block">Party Name</label>
                                        <select id="search"  
                                                name="search"
                                                class="form-select form-control"
                                               >
                                            <option value="">Select Party Name</option>
                                            {% for party in party_names %}
                                                <option value="{{ party.party_name }}"
                                                    {% if request.GET.search == party.party_name %} selected {% endif %}>
                                                    {{ party.party_name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                
                                <!-- Action Buttons -->
                                    <div class="col-auto d-flex align-items-end">
                                        <button type="submit" class="btn btn-primary me-2">
                                            <i class="fa fa-search"></i>&nbsp;Search
                                        </button>
                                        <a href="{% url 'cdr_page' %}" class="btn btn-secondary">Reset</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                <!-- Table Body -->
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="thead-light">
                                    <tr class="text-nowrap text-center">
                                        <th scope="col">
                                            <a href="?sorting={% if request.GET.sorting == 'asc' %}desc{% else %}asc{% endif %}&search={{ request.GET.search }}&end_date={{ request.GET.end_date }}&date={{ request.GET.date }}&page={{ request.GET.page }}">
                                                Sr No
                                            </a>
                                        </th>
                                        <th scope="col">
                                            <a href="?party_name_sorting={% if request.GET.party_name_sorting == 'asc' %}desc{% else %}asc{% endif %}&search={{ request.GET.search }}&end_date={{ request.GET.end_date }}&date={{ request.GET.date }}&page={{ request.GET.page }}">
                                                Party Name
                                            </a><i class="fa fa-sort"></i> 
                                        </th>
                                        <th scope="col">
                                            <a href="?job_name_sorting={% if request.GET.job_name_sorting == 'asc' %}desc{% else %}asc{% endif %}&search={{ request.GET.search }}&end_date={{ request.GET.end_date }}&date={{ request.GET.date }}&page={{ request.GET.page }}">
                                                Job Name
                                            </a><i class="fa fa-sort"></i> 
                                        </th>
                                        <th scope="col">Party Email Address</th>
                                        <th scope="col">Party Contact Details</th>
                                        <th scope="col">
                                            <a href="?date_sorting={% if request.GET.date_sorting == 'asc' %}desc{% else %}asc{% endif %}&search={{ request.GET.search }}&end_date={{ request.GET.end_date }}&date={{ request.GET.date }}&page={{ request.GET.page }}">
                                                CDR Upload Date
                                            </a><i class="fa fa-sort"></i> 
                                        </th>
                                        <th scope="col">CDR Image</th>
                                        <th scope="col">CDR Corrections</th>
                                        <th scope="col" colspan="3">Actions</th>
                                    </tr>
                                </thead>
                                {% if cdr_details %}
                                
                                <tbody>
                                    {% for i in cdr_details %}
                                        <tr class="text-nowrap text-center">
                                    <!-- Serial Number -->
                                            <td data-bs-toggle="modal" data-bs-target="#viewModal{{ i.id }}">
                                                {{ forloop.counter }}
                                            </td>

                                    <!-- Party Name -->
                                            <td>{{ i.party_details.party_name }}</td>

                                    <!-- Job Name -->
                                            <td title="{{ i.job_name }}">{{ i.job_name }}</td>

                                    <!-- Party Email -->
                                            <td>{{ i.party_email_used.email }}</td>

                                    <!-- Party Contact -->
                                            <td>{{ i.party_contact_used.party_number }}</td>

                                    <!-- CDR Upload Date -->
                                            <td>{{ i.date }}</td>

                                    <!-- CDR Image/Folder -->
                                            
                                                <td class="text-truncate">
                                                    <div id="carousel-{{ i.id }}" class="carousel slide" data-bs-ride="false">
                                                        <div class="carousel-inner">
                                                            {% for cdr_image in i.cdr_images.all %}
                                                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                                                    <div class="d-flex justify-content-center align-items-center"
                                                                         style="height: 50px">
                                                                        <a class="icon-link" href="{{ cdr_image.image.url }}"
                                                                           target="_blank">
                                                                            {{ cdr_image.image.name|filename }}
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>

                                            <!-- Carousel Controls -->
                                                        <button class="carousel-control-prev" type="button"
                                                                data-bs-target="#carousel-{{ i.id }}" data-bs-slide="prev">
                                                            <span class="previcon" aria-hidden="false">
                                                                <i class="fa fa-caret-left" aria-hidden="true"></i>
                                                            </span>
                                                        </button>
                                                        <button class="carousel-control-next" type="button"
                                                                data-bs-target="#carousel-{{ i.id }}" data-bs-slide="next">
                                                            <span class="nexticon" aria-hidden="true">
                                                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </td>
                                            

                                    <!-- CDR Corrections -->
                                            {% if i.cdr_corrections %}
                                                <td class="text-truncate" data-bs-toggle="modal"
                                                    data-bs-target="#event_corrections{{ i.id }}">
                                                    {{ i.cdr_corrections|truncatechars:20 }}
                                                </td>
                                            {% else %}
                                                <td>-</td>
                                            {% endif %}

                                    <!-- Action Buttons -->
                                            <td class="text-truncate">
                                        <!-- Delete Button -->
                                                <form method="post" action="{% url 'delete_cdr' delete_id=i.id %}"
                                                      class="d-inline" id="delete-form-{{ i.id }}">
                                                    {% csrf_token %}
                                                    <button type="button" class="btn btn-outline-danger ms-1"
                                                            data-bs-toggle="modal" data-bs-target="#confirmationModal"
                                                            data-id="{{ i.id }}">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                                             fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                                        </svg>
                                                    </button>
                                                </form>

                                        <!-- Edit Button -->
                                                <button type="button" class="btn btn-sm btn-outline-primary"
                                                        data-bs-toggle="modal" data-bs-target="#cdrupdate{{ i.id }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                         fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                                    </svg>
                                                </button>

                                        <!-- Email Button -->
                                                <button type="button" class="btn btn-sm btn-outline-success"
                                                        data-bs-toggle="modal" data-bs-target="#emailModal{{ i.id }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                         fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                                                    </svg>
                                                </button>
                                            </td>

                                            <!-- Corrections Modal -->
                                             {% include 'Includes/cdr_page/correction.html' %}
                                            <!-- Update Modal -->
                                            {% include 'Includes/cdr_page/update_cdr.html' %}
                                            <!-- Email Modal -->
                                            {% include 'Includes/cdr_page/send_mail.html' %}
                                            <!-- View Modal -->
                                            {% include 'Includes/cdr_page/view.html' %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                {% else %}
                                <tr>
                                    <td colspan="20" class="text-center">No data available</td>
                                </tr>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pagination -->
           {% include 'Includes/cdr_page/navbar.html' %}
        </div>
    </div>

<!-- Delete Confirmation Modal (Global) -->
    <div class="modal fade" id="confirmationModal" tabindex="-1"
         aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Confirm Deletion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this item?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="submitForm()">Yes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
{% endblock main_block %}

{% block script %}
<script src="{% static 'js/cdr_page.js' %}"></script>
<script>
    const cdrAjaxUrl = "{% url 'cdr_page_ajax' %}";
</script>

<script src="{% static 'js/ajax/cdr.js' %}"></script>
{% endblock script %}