{% extends "base/base.html" %} {% load static %} {% block title %}Quotation
Page{% endblock %} 



{% block main_block %}
<div class="page-inner">
  <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
    <div>
        <h3 class="fw-bold mb-3">Quotation </h3>
    </div>
  </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-round">
                <div class="card-header">
                    <div class="card-head-row card-tools-still-right">
                        <div class="card-title">Quotation Details</div>
                        <div class="card-tools"></div>
                    </div>
                </div>                  
            </div>
        </div>
    </div>
  </div>
</div>



{% endblock main_block %}
{% block script %}
    
    <script></script>
{% endblock script %}

