<div class="modal fade" id="editPurchaseModal{{ purchase_order.id }}" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content border-0 shadow-lg">

      <form method="POST" >
        {% csrf_token %}
        <input type="hidden" name="edit_purchase_order" value="{{ purchase_order.id }}">

        <!-- Header -->
        <div class="modal-header py-2">
          <h5 class="modal-title">Update Purchase Order</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Body -->
        <div class="modal-body p-4">

          <!-- Basic Details -->
          <h6 class="fw-bold border-bottom pb-2 mb-3">Basic Details</h6>

          <div class="row g-3">
            <div class="col-md-3">
              <label class="form-label fw-semibold">Purchase Order Number</label>
              <input type="text" name="pouch_purchase_number" class="form-control"
                     value="{{ purchase_order.pouch_purchase_number|default:'' }}"
                     placeholder="Enter Purchase Order Number">
            </div>

            <div class="col-md-3">
              <label class="form-label fw-semibold">Delivery Date</label>
              <input type="date" name="delivery_date" class="form-control"
                     value="{{ purchase_order.delivery_date|date:'Y-m-d' }}">
            </div>

            <!-- Party Email -->
            <div class="col-md-4">
                <label class="form-label fw-semibold">Party Email</label>
                <input type="text" class="form-control" name="party_email" value="{{ purchase_order.party_email.email }}">
                <input type="hidden" name="party_email_id" value="{{ purchase_order.party_email.id }}">
              </div>

            <div class="col-md-3">
              <label class="form-label fw-semibold">Party Name</label>
              <input type="text" class="form-control" value="{{ purchase_order.party_details.party_name }}" readonly>
            </div>
          </div>

          <br>

          {% for job in purchase_order.purchase_order_jobs.all %}
          <div class="border rounded p-3 mb-3">

            <h6 class="fw-bold text-secondary">Job {{ forloop.counter }}</h6>

            <input type="hidden" name="job_id" value="{{ job.id }}"/>

            <div class="row g-3">

              <!-- Job Name -->
              <div class="col-md-4">
                <label class="form-label fw-semibold">Job Name</label>
                <input type="text" class="form-control" name="job_name" value="{{ job.job_name }}" readonly>
              </div>

              <!-- Pouch Size -->
              <div class="col-md-4">
                <label class="form-label fw-semibold">Pouch Open Size</label>
                <input type="text" class="form-control" name="pouch_open_size" value="{{ job.pouch_open_size }}">
              </div>

              <!-- Combination -->
              <div class="col-md-6">
                <label class="form-label fw-semibold">Pouch Combination</label>
                <input type="text" class="form-control" name="pouch_combination" value="{{ job.pouch_combination }}">
              </div>

              <!-- Quantity -->
              <div class="col-md-4">
                <label class="form-label fw-semibold">Quantity</label>
                <input type="text"  class="form-control" name="quantity" value="{{ job.quantity }}">
              </div>

              <!-- Purchase Rate -->
              <div class="col-md-4">
                <label class="form-label fw-semibold">Purchase Rate Per Kg</label>
                <input type="text"  class="form-control" name="purchase_rate_per_kg"
                       value="{{ job.purchase_rate_per_kg }}">
              </div>

              <!-- Pouch per KG -->
              <div class="col-md-4">
                <label class="form-label fw-semibold">No. of Pouch / KG</label>
                <input type="text"  class="form-control" name="no_of_pouch_kg"
                       value="{{ job.no_of_pouch_kg }}">
              </div>

              <!-- Per pouch -->
              <div class="col-md-4">
                <label class="form-label fw-semibold">Rate Basic</label>
                <input type="text"  class="form-control" name="per_pouch_rate_basic"
                       value="{{ job.per_pouch_rate_basic }}">
              </div>

              <!-- Zipper -->
              <div class="col-md-4">
                <label class="form-label fw-semibold">Zipper Cost</label>
                <input type="text"  class="form-control" name="zipper_cost"
                       value="{{ job.zipper_cost }}">
              </div>

              <!-- Pouch charge -->
              <div class="col-md-4">
                <label class="form-label fw-semibold">Pouch Charge</label>
                <input type="text"  class="form-control" name="pouch_charge"
                       value="{{ job.pouch_charge }}">
              </div>

              <!-- Final Rate -->
              <div class="col-md-4">
                <label class="form-label fw-semibold">Final Rate</label>
                <input type="text"  class="form-control" name="final_rate"
                       value="{{ job.final_rate }}">
              </div>

              <!-- Min qty -->
              <div class="col-md-4">
                <label class="form-label fw-semibold">Minimum Quantity</label>
                <input type="text"  class="form-control" name="minimum_quantity"
                       value="{{ job.minimum_quantity }}">
              </div>

              <!-- Pouch type -->
              <div class="col-md-4">
                <label class="form-label fw-semibold">Pouch Type</label>

                <select class="form-select" name="pouch_type">
                  <option value="">Select Pouch Type</option>
                  {% for value,label in pouch_types %}
                    <option value="{{ value }}" {% if job.pouch_type == value %}selected{% endif %}>
                      {{ label }}
                    </option>
                  {% endfor %}
                </select>
              </div>

              <!-- Delivery Address -->
              <div class="col-md-6">
                <label class="form-label fw-semibold">Delivery Address</label>
                <textarea class="form-control" rows="5" name="delivery_address">{{ job.delivery_address }}</textarea>
              </div>

              <!-- Special Instruction -->
              <div class="col-md-6">
                <label class="form-label fw-semibold">Special Instruction</label>
                <textarea class="form-control" rows="5" name="special_instruction">{{ job.special_instruction }}</textarea>
              </div>

            </div>
          </div>
          {% endfor %}

          <!-- OTHER TERMS -->
          <h6 class="fw-bold text-primary">Other Terms</h6>

          <div class="border rounded p-3 mb-3">
            <div class="row g-3">

              <div class="col-md-4">
                <label class="form-label fw-semibold">Quantity Variation</label>
                <input type="text"  class="form-control" name="quantity_variate"
                       value="{{ purchase_order.quantity_variate }}">
              </div>

              <div class="col-md-4">
                <label class="form-label fw-semibold">Freight</label>
                <input type="text"  class="form-control" name="freight"
                       value="{{ purchase_order.freight }}">
              </div>

              <div class="col-md-4">
                <label class="form-label fw-semibold">GST (%)</label>
                <input type="text"  class="form-control" name="gst"
                       value="{{ purchase_order.gst }}">
              </div>

              <div class="col-md-12">
                <label class="form-label fw-semibold">Note</label>
                <textarea class="form-control" rows="3" name="note">{{ purchase_order.note }}</textarea>
              </div>

              <div class="col-md-4">
                <label class="form-label fw-semibold">Pouch Status</label>
                <select class="form-select" name="pouch_status">
                    <option value="">Select Status</option>
                    {% for l,v in pouch_status %}
                        <option value="{{v}}" {% if purchase_order.pouch_status == v %}selected{% endif %}>{{ l }}</option>
                    {% endfor %}
                </select>
            </div>

            </div>
          </div>

        </div>

        <!-- Footer -->
        <div class="modal-footer bg-light py-2">
          <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="reset" class="btn btn-sm btn-outline-dark">Reset</button>
          <button type="submit" class="btn btn-sm btn-primary px-4" name="update_purchase_order">Update</button>
        </div>

      </form>

    </div>
  </div>
</div>
